// Specific CSS for your home-page
.custom-carousel .carousel-item img {
  height: 600px; /* Ajusta la altura según tus necesidades */
  object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
}

.container-custom-padding {
  padding-top: 60px; /* Padding superior */
  padding-bottom: 60px; /* Padding inferior */
}

//form

.form-search {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
}

.form-search .form-label {
  font-weight: bold;
  color: #343a40;
}

.form-search .form-control,
.form-search .form-select {
  height: 45px;
  padding: 10px;
  font-size: 16px;
}
