// Specific CSS for your home-page
.custom-carousel .carousel-item img {
  height: 600px; /* Ajusta la altura según tus necesidades */
  object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
}

.container-custom-padding {
  padding-top: 60px; /* Padding superior */
  padding-bottom: 60px; /* Padding inferior */
}

body{
  font-family: "Poppins", sans-serif;;
}

.video-container {
  position: relative;
  width: 100%;
}

video {
  width: 100%;
  height: auto;
}

.filter-search {
  position: absolute;
  bottom: 5%; /* Ajusta según lo bajo que desees posicionarlo */
  left: 50%;
  transform: translateX(-50%);
  width: 80%; /* Ajusta el ancho para hacerlo más alargado */
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border-radius: 25px; /* Bordes redondeados */
}

.filter-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-item {
  flex: 1;
  margin: 0 10px;
}

.form-control {
  height: 50px; /* Ajusta la altura de los campos */
  border-radius: 15px; /* Bordes redondeados en los inputs */
  text-align: center;
}



/* Estilos adicionales para el formulario */
.form-search {
  display: flex;
  justify-content: space-between;
}

.form-label {
  font-weight: bold;
}
