<% @applications.each do |application|%>
<div><h3><%= application.offer.title %><%= application.offer.start_date %> a <%= application.offer.end_date %></h3></div>
  <p><%=application.user.email%></p>
<% end %>
