<%# <h1>Application Details</h1>
<p><strong>Status:</strong> <%= link_to @application.status %></p>
<%# <p><strong>Offer ID:</strong> <%= @application.offer_id %></p>
<%# <p><strong>Offer ID:</strong> <%= @application.user_id %></p>
