.custom-button {
  background-color: #F8A34C; /* Color de fondo del botón */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interior */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño del texto */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Para permitir padding y márgenes */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s, transform 0.2s; /* Transición para el color y la transformación */
}

.custom-button:hover {
  background-color: #fe9d3c; /* Color de fondo al pasar el ratón */
  transform: scale(1.05); /* Escala el botón ligeramente */
}

// boton del form

.form-search {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
}

.form-search .form-label {
  font-weight: bold;
  color: #343a40;
}

.form-search .form-control,
.form-search .form-select {
  height: 45px;
  padding: 10px;
  font-size: 16px;
}


