.custom-button {
  display: inline-block;
  padding: 12px 24px;
  font-family: Poppins, Inter, -apple-system, "system-ui", sans-serif;
  font-size: 18px;
  color: #fff; // Color del texto
  background-color: #F8A34C; // Color de fondo
  border: none;
  border-radius: 15px; // Bordes redondeados
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-button:hover {
  background-color: #fe9d3c; /* Color de fondo al pasar el ratón */
  transform: scale(1.05); /* Escala el botón ligeramente */
}

body{
  font-family: "Poppins", sans-serif;
}

.custom-button-grey {
  display: inline-block;
  padding: 12px 24px;
  font-family: Poppins, Inter, -apple-system, "system-ui", sans-serif;
  font-size: 18px;
  color: #fff; // Color del texto
  background-color: #767676; // Color de fondo
  border: none;
  border-radius: 15px; // Bordes redondeados
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
