.custom-button {
  background-color: #F8A34C; /* Color de fondo del botón */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interior */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño del texto */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Para permitir padding y márgenes */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s, transform 0.2s; /* Transición para el color y la transformación */
}

.custom-button:hover {
  background-color: #fe9d3c; /* Color de fondo al pasar el ratón */
  transform: scale(1.05); /* Escala el botón ligeramente */
}

