// form

.form-search {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
}

.form-search .form-label {
  font-weight: bold;
  color: #343a40;
}

.form-search .form-control,
.form-search .form-select {
  height: 45px;
  padding: 10px;
  font-size: 16px;
}
