.navbar-lewagon {
  justify-content: space-between;
  background: #6bf592;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

li a img.avatar{
  width: 40px !important;
  height: 40px !important;
  object-fit: cover !important;
  object-position: 0px 1px !important;
}
