.navbar-lewagon {
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Asegura que el navbar esté por encima del video */
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}

li a img.avatar{
  width: 40px !important;
  height: 40px !important;
  object-fit: cover !important;
  object-position: 0px 1px !important;
}
